$pale-grey: #d4d4d4;
$pale-grey-two: #d8d8d8;
$pale-grey-three: #EAF7F5;
$pale-grey-four: #deeeec;
$warm-grey: #a7a7a7;
$warm-grey-two: #6D6D6D;
$warm-grey-three: #a0a0a0;
$warm-grey-four: #b2b2b2;
$warm-grey-ten: #969696;
$warm-grey-fifteen: #a2a2a2;
$black-two: #111111;
$black-three: #080f1e;
$black-four: #212121;

$text: $warm-grey-ten;
$mobile-menu-text: $warm-grey-two;
$highlight: $black-two;
$link-on-highlight: $warm-grey-fifteen;

$highlight-bg: $pale-grey-three;
$highlight-bg-hover: $pale-grey-four;
$c2a-bg: $warm-grey-four;
$contrast-bg: $black-three;
$form-bg: $black-four;
$border: rgba($pale-grey,0.3);
$border2: rgba($pale-grey,0.4);
$border-solid: $pale-grey;
$border-solid-hover: $warm-grey;
$sidebar: rgba($warm-grey-three, 0.2);

$sideburger: rgba(white, 0.3);
$sideburger2: rgba($black-two, 0.2);