.form {
  position: relative;
  @extend %grid;
  /*@include breakpoint(desktop-up) {
    grid-template-columns: 120px minmax(128px, 210px) 670px 2.4fr 2fr 120px !important;
  }*/
  form {
    grid-column:2/3;
    @include breakpoint(desktop-up) {
      max-width: 100%;
      grid-column:3/6;
    }
  }
  &__inner {
    display: grid;
    grid-template-columns: 1fr;
    @include breakpoint(portraittablet-up) {
      grid-template-columns: minmax(440px, 450px) min-content;
    }
    @include breakpoint(tablet-up) {
      grid-template-columns: minmax(440px, 600px) min-content;
    }
    @include breakpoint(desktop-up) {
      grid-template-columns: 670px min-content;
    }
  }
  &__text, .disclaimer {
    grid-column: 1/3;
  }
  &__field {
    grid-column: 1/3;
  }
  &__submit {
    grid-column: 2;
  }
  @include breakpoint(portraittablet-up) {
    &__field {
      grid-column: 1;
    }
  }
  @include breakpoint(desktop-up) {
    &__text, .disclaimer {
      grid-column: 1;
    }
    &__submit {
      grid-column: 2;
    }
  }
  input, textarea {
    border: 0;
    border-radius: 5px;
    width: 100%;
    padding: 0 23px;
    outline: 0;
    box-sizing: border-box;
    font-weight: $lt;
    color: $highlight;
    height: 60px;
    font-size: 17px;
    @include breakpoint(mobile-up) {
      border-radius: 10px;
      height: 62px;
    }
    @include breakpoint(portraittablet-up) {
      font-size: 22px;
    }
    @include breakpoint(desktop-up) {
      height: 82px;
      font-size: 27px;
    }
  }
  textarea {
    padding: 23px;
    vertical-align: top;
    height: 175px;
    @include breakpoint(mobile-up) {
      height: 182px;
    }

  }
  .form__submit {
    position: relative;
  }
  .submit {
    height: 42px;
    border: 0;
    background: none;
    padding: 0 35px;
    cursor: pointer;
    outline: 0;
    color: $highlight;
    font-size: 18px;
    min-width: 0;
    text-align: left;
    padding-right: 50px !important;
    transition: all $ease;
    .icon {
      position: absolute;
      right: 0;
    }
    &:hover {
      padding-right: 60px !important;
    }
    @include breakpoint(desktop-up) {
      height: 82px;
      font-size: 22px;
      padding-right: 0 !important;
      .icon {
        position: relative;
        right: auto;
      }
      &:hover {
        padding-right: 0 !important;
      }
    }
  }
  .disclaimer {
    font-size: 16px;
    margin-top: 12px;
    @include breakpoint(desktop-up) {
      margin-top: 22px;
    }
  }
  .surname {
    display:none;
  }
}
/*
.form {
  position: relative;
  .form__inner {
    display: grid;
    @include bp(small) {
      padding: 0;
      @extend %grid;
    }
  }
  .form__field {
    grid-column: 3/4;
    margin-top: 14px;
    label {
      display: block;
      font-size: 14px;
      line-height: 2em;
      margin-bottom: 8px;
    }
    input, textarea {
      height: 82px;
      border: 0;
      border-radius: 10px;
      width: 100%;
      padding: 0 23px;
      outline: 0;
      box-sizing: border-box;
      font-size: 27px;
      font-weight: $lt;
      background: $highlight-bg;
      color: $highlight;
    }
    textarea {
      padding: 23px;
      height: 182px;
      vertical-align: top
    }
  }
  .form__text {
    grid-column: 2/4;
    h4 {
      font-size: 30px;
      line-height: 43px;
      color: white;
      font-weight: $lt;
      margin-bottom: 20px;
    }
    p {
      font-size: 27px;
      line-height: 35px;
      font-weight: $lt;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 18px;
      }
    }
  }
  .form__submit {
    position: relative;
  }

  .disclaimer {
    grid-column: 2/4;
    font-size: 16px;
    margin-top: 22px;
  }

  .surname {
    display:none;
  }


}*/